@import "~normalize.css/normalize.css";
@import "./reset.css";

html {
  font-size: 10px;
}

body {
  width: 100%;
  position: relative;
  font-size: 1.8rem;
  color: #394241;
  font-family: "Montserrat Alternates", sans-serif;
  background-image: url(/assets/img/background-01.png);
  overflow-y: scroll;
}

a {
  color: #394241;
}

/* Main layout sections */
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 2rem 0;
  z-index: 1000;
}

.main {
  padding: 0.5rem 3rem;
}

/* Header */
.header-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
  background: rgb(203, 236, 236);
  background: linear-gradient(
    0deg,
    rgba(205, 224, 226, 0.8) 2%,
    rgba(229, 246, 246, 1) 33%,
    rgba(202, 227, 230, 1) 67%,
    rgba(205, 224, 226, 0.8) 100%
  );
  border-bottom: 0.1rem solid rgb(151, 202, 191);
}

/* Logo */
.logo {
  text-align: center;
  border: 0.5rem solid #77c9d4;
  cursor: pointer;
}

.logo:hover {
  border: 0.5rem dotted #77c9d4;
}

.logo-anchor {
  display: block;
  padding-left: 1.5rem;
}

.logo img {
  width: 20rem;
}

/* .main-nav */
.main-nav ul {
  display: flex;
  background-image: url(/assets/img/background-01.png);
  padding: 0.8rem 0;
  border: 1px solid transparent;
  transition: border 0.2s ease;
}

.main-nav ul:hover {
  border: 1px solid #77c9d4;
  transition: border 0.2s ease;
}

.main-nav li ul:hover {
  border: 1px solid transparent;
}

.main-nav ul li {
  position: relative;
}

.main-nav > ul > li:not(:last-of-type) {
  border-right: 0.2rem solid #77c9d4;
}

.menu-btn {
  display: flex;
  justify-content: center;
  width: 25rem;
  margin: 0 1rem;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.menu-btn i {
  padding-right: 0.8rem;
}

.menu-btn:hover {
  color: #ffffff;
  background-color: #77c9d4;
  box-shadow: 2px 1px 2px -2px #2f737c;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.main-nav li ul {
  display: none;
  position: absolute;
  flex-direction: column;
}

.main-nav li:hover .sub-menu {
  display: flex;
}

.main-nav li ul li {
  margin-right: -0.4rem;
}

.main-nav-btn {
  display: none;
  width: auto;
  padding: 1.5rem;
  color: #ffffff;
  background-color: #77c9d4;
  box-shadow: 2px 1px 2px -2px #2f737c;
  cursor: pointer;
}
.main-nav-btn i {
  padding-right: 0.8rem;
}

/* Slider */
.slider {
  max-width: 120rem;
  margin: auto;
  margin-top: 1rem;
  position: relative;
  font-size: 0;
  text-align: center;
  overflow: hidden;
  border: 0.5rem dashed #77c9d4;
  box-shadow: 0.5rem 0.5rem 0.8rem #2f737c;
}

.slider-container {
  display: flex;
}

.slide img {
  max-width: 120rem;
  height: auto;
}

.prev,
.next {
  position: absolute;
  top: calc(50% - 3rem);
  height: 100%;
  padding: 0 2rem;
  font-size: 4.5rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  transition: transform 0.6s ease;
}

.next {
  right: 0;
}

.prev {
  left: 0;
}

.next:hover {
  color: rgba(255, 255, 255, 1);
  transform: translateX(0.8rem);
}

.prev:hover {
  color: rgba(255, 255, 255, 1);
  transform: translateX(-0.8rem);
}

/* Left menu */
.left-nav {
  position: fixed;
  left: 0.2rem;
  font-size: 3rem;
  z-index: 1000;
}

.left-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-nav a {
  display: block;
  margin: 1rem;
  padding: 1rem 1.3rem;
  text-align: center;
  background: rgb(203, 236, 236);
  background: linear-gradient(
    0deg,
    rgba(205, 224, 226, 0.8) 2%,
    rgba(229, 246, 246, 1) 33%,
    rgba(202, 227, 230, 1) 67%,
    rgba(205, 224, 226, 0.8) 100%
  );
  box-shadow: 1px 1px 1px -1px #2f737c;
  border: 1px solid rgb(151, 202, 191);
  transition: color 0.3s ease;
  z-index: 1000;
}

.left-nav a:hover {
  color: #ffffff;
  background: #77c9d4;
  box-shadow: 1px 1px 1px -1px #2f737c;
  cursor: pointer;
  transition: color 0.2s ease;
}

.left-nav li:not(:last-of-type) {
  border-bottom: 2px solid #77c9d4;
}

/* Section content */
.content {
  margin: 2rem 0;
}

/* Modal window */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
  z-index: 1000;
}

.modal-active {
  display: block;
}

/* Prevent double scroll on modal appear */
.no-scroll {
  overflow-y: hidden;
}

.add-task-modal,
.task-modal-card {
  position: relative;
  width: 60%;
  margin: auto;
  margin-bottom: 4rem;
  padding: 2% 5%;
  font-size: 2.2rem;
  text-align: center;
  background-color: #eee;
  border: 0.5rem dashed #77c9d4;
  box-shadow: 0.5rem 0.5rem 0.8rem #2f737c;
}

.add-task-modal label {
  display: block;
  width: 100%;
  margin-top: 2rem;
}

.add-task-modal input:not(.submit-btn),
.add-task-modal textarea {
  width: 100%;
}

.modal-subsection-wrapper {
  display: flex;
  align-items: stretch;
}

.add-task-modal select,
.add-task-modal input[type="date"] {
  display: block;
  width: 95%;
}

textarea {
  resize: none;
}

.submit-btn {
  display: block;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 1rem;
  font-size: 2.2rem;
  text-align: center;
  background-color: #57cab1;
  border: 1px solid #35bba5;
  box-shadow: 2px 3px 3px -2px #1b9e88;
}

.submit-btn:hover {
  color: #ffffff;
  background-color: #35b8a2;
  border: 1px solid #20917e;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.priority-label-wrapper {
  display: flex;
  margin-top: 1rem;
  font-size: 1.8rem;
}

/* Range */
.task-label-range {
  -webkit-appearance: none;
  width: 100%;
  margin: 1rem 0;
  background: transparent;
}

.task-label-range:focus {
  outline: none;
}

/* Range -webkit */
.task-label-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 1.5px #cccccc, 0px 0px 2px #d9d9d9;
  background-image: linear-gradient(to right, #49ff49, #ffff47, #ff4747);
  border-radius: 3px;
  border: 0px solid #ffffff;
}
.task-label-range::-webkit-slider-thumb {
  box-shadow: 1.1px 1.1px 0.5px #09b38b, 0px 0px 1.1px #0acb9e;
  border: 3px solid #ffffff;
  height: 25px;
  width: 34px;
  border-radius: 4px;
  background: #77c9d4;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
.task-label-range:focus::-webkit-slider-runnable-track {
  background-image: linear-gradient(to right, #008000, #ffff00, #ff0000);
}

/* Range -moz */
.task-label-range::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 1.5px #cccccc, 0px 0px 2px #d9d9d9;
  background-image: linear-gradient(to right, #49ff49, #ffff47, #ff4747);
  border-radius: 3px;
  border: 0px solid #ffffff;
}
.task-label-range::-moz-range-thumb {
  box-shadow: 1.1px 1.1px 0.5px #09b38b, 0px 0px 1.1px #0acb9e;
  border: 3px solid #ffffff;
  height: 25px;
  width: 34px;
  border-radius: 4px;
  background: #77c9d4;
  cursor: pointer;
}

/* Range -ms */
.task-label-range::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.task-label-range::-ms-fill-lower {
  background-color: #ff4747;
}
.task-label-range::-ms-fill-upper {
  background-color: #65d865;
}
.task-label-range::-ms-thumb {
  width: 34px;
  height: 25px;
  background: #77c9d4;
  cursor: pointer;
}
.task-label-range:focus::-ms-fill-lower {
  background-color: #ff0000;
}
.task-label-range:focus::-ms-fill-upper {
  background-color: #008000;
}

/* Close button */
.close {
  color: #aaaaaa;
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  font-size: 5rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #394241;
  text-decoration: none;
  cursor: pointer;
}

/* Tasklist  */

/* Fallback for IE11 */
.tasks-list {
  display: flex;
  flex-flow: row wrap;
}

.task {
  margin: 1.5rem;
  width: calc((100% / 3) - 3rem);
}

@media screen and (max-width: 1150px) {
  .task {
    width: calc((100% / 2) - 3rem);
  }
}

@media screen and (max-width: 700px) {
  .task {
    width: 100%;
  }
}

.task {
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
}

@supports (grid-area: auto) {
  .tasks-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .task {
    margin: 1.5rem;
    width: auto;
  }

  @media screen and (max-width: 1150px) {
    .task {
      width: auto;
    }
  }
}

.task {
  background-color: rgba(238, 238, 238, 0.95);
  box-shadow: 1px 1px 1px #dae0e0;
  cursor: pointer;
}

.task-priority-1 {
  border-bottom: 1rem solid rgb(22, 180, 88);
}

.task-priority-2 {
  border-bottom: 1rem solid rgb(164, 230, 79);
}

.task-priority-3 {
  border-bottom: 1rem solid rgb(233, 245, 62);
}

.task-priority-4 {
  border-bottom: 1rem solid rgb(243, 162, 87);
}

.task-priority-5 {
  border-bottom: 1rem solid rgb(247, 101, 91);
}

.task:hover {
  background-color: rgba(219, 232, 235, 0.95);
  box-shadow: 1px 1px 1px #dae0e0;
}

.task-name {
  text-align: center;
}

.task-description,
.task-comment {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.task-dates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.task-due-date,
.task-create-date {
  margin-right: 1rem;
}

.task-id {
  display: none;
}

/* Task modal section */
.modal-task-id {
  display: none;
}

.task-modal-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.submit-btn-modal {
  width: 23rem;
  margin: 1rem;
}

/* Select panel section */
.select-panel {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.select-panel label {
  margin: 1rem 0.4rem;
}

.select-panel select,
.select-panel input {
  width: 25rem;
}

/* Task's list pagination section */
.tasks-list-pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.page {
  width: 3.5rem;
  height: 3.5rem;
  margin: 0 0.5rem;
  padding: 0.5rem;
  text-align: center;
  border: 2px solid #77c9d4;
  transition: border 0.5s ease;
  cursor: pointer;
}

.page:hover,
.page-active {
  border: 2px dotted #1b7885;
  transition: border 0.5s ease;
}

/* Welcome section */
.welcome,
.slider {
  margin: 4rem auto;
}

.welcome h2 {
  text-align: center;
}

.welcome-img {
  float: left;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.welcome-img img {
  width: 100%;
  max-width: 50rem;
}

/* Contacts section */
.contacts-article {
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contacts-address,
.contacts-map {
  margin: 1rem;
}

.contacts-address a,
.contacts-address address {
  display: block;
  margin: 3rem;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  html {
    font-size: 9px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  html {
    font-size: 8px;
  }

  .header-wrapper {
    justify-content: space-between;
  }

  .main-nav li:hover .sub-menu {
    display: none;
  }

  .logo img {
    width: 11rem;
  }

  .menu-btn {
    width: 100%;
  }

  .main-nav > ul > li:not(:last-of-type) {
    border-right: 0;
  }

  .slider {
    display: none;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .header {
    padding: 0;
  }

  .logo {
    display: block;
  }

  .main-nav {
    position: absolute;
    top: 0;
    width: 60%;
    right: -1000px;
    background: rgb(203, 236, 236);
    background: linear-gradient(
      0deg,
      rgba(205, 224, 226, 0.8) 2%,
      rgba(229, 246, 246, 1) 33%,
      rgba(202, 227, 230, 1) 67%,
      rgba(205, 224, 226, 0.8) 100%
    );
    border-bottom: 0.1rem solid rgb(151, 202, 191);
    border-left: 0.1rem solid rgb(151, 202, 191);
    border-bottom-left-radius: 1rem;
    transition: right 1s ease-in;
  }

  .main-nav-active {
    right: 0;
    transition: right 1s ease;
  }

  .main-nav ul {
    flex-direction: column;
    background-image: none;
  }

  .main-nav ul:hover {
    border: 2px solid transparent;
  }

  .main-nav-btn {
    display: block;
  }

  .modal {
    padding: 3rem auto;
  }

  .add-task-modal,
  .task-modal-card {
    width: 90%;
  }

  .contacts-map iframe {
    max-width: 35rem;
  }
}
