@import "~normalize.css/normalize.css";
@import "./reset.css";

html {
  font-size: 10px;
}

body {
  display: grid;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
  grid-template-rows: 1fr 1fr 100px;
  grid-template-columns: 25% 1fr;
  height: 100vh;
  font-size: 1.8rem;
  color: #394241;
}

a {
  color: #394241;
}

/* Main layout sections */
.header {
  padding: 30px;
  grid-area: header;
  /* background-color: #ffffff; */
}

.footer {
  grid-area: footer;
  /* background-color: wheat; */
}

.main {
  grid-area: main;
  /* background-color: burlywood; */
}

.left-nav {
  grid-area: nav;
  /* background-color: cornflowerblue; */
}

/* Header */
.menu {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 15px;
}

/* Logo */
.logo {
  padding-left: 15px;
  text-align: center;
  border: 5px solid #77c9d4;
  cursor: pointer;
}

.logo:hover {
  border: 5px dotted #77c9d4;
}

.logo img {
  width: 200px;
}

/* .main-nav */
.main-nav ul {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.main-nav ul li {
  position: relative;
  width: 230px;
  z-index: 100;
}

.main-nav > ul > li:not(:last-of-type) {
  border-right: 2px solid #77c9d4;
}

.menu-btn {
  display: block;
  margin: 5px 10px;
  padding: 15px 0;
  font-size: 2.4rem;
  text-align: center;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.menu-btn:hover {
  color: #ffffff;
  background-color: #77c9d4;
  box-shadow: 2px 5px 4px -3px #2f737c;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.main-nav li ul {
  display: none;
  position: absolute;
  flex-direction: column;
  padding: 5px 0;
}

.main-nav li:hover > ul {
  display: block;
}

.main-nav li:hover:not(:last-of-type) > ul > li {
  /* Change sub-menu li width taking into account 2px border-right absence */
  width: calc(230px - 2px);
}

/* Slider */
.slider {
  max-width: 1200px;
  margin: auto;
  margin-top: 10px;
  position: relative;
  font-size: 0;
  text-align: center;
  overflow: hidden;
  border: 5px dashed #77c9d4;
  box-shadow: 5px 5px 8px #2f737c;
}

.slider-container {
  display: flex;
}

.slide img {
  max-width: 1200px;
  height: auto;
}

.prev,
.next {
  position: absolute;
  top: calc(50% - 30px);
  height: 100%;
  padding: 0 20px;
  font-size: 45px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  transition: transform 0.6s ease;
}

.next {
  right: 0;
}

.prev {
  left: 0;
}

.next:hover {
  color: rgba(255, 255, 255, 1);
  transform: translateX(8px);
}

.prev:hover {
  color: rgba(255, 255, 255, 1);
  transform: translateX(-8px);
}
